/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}

.pagination li {
  display: inline-block;
  border: none !important;
}

/*
 * Fix for Large images
 */

 img{
    max-width: 100%;
 }

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

@media screen and (min-width: 1024px){
    .headimg{
        min-height: 350px;
    }
}

.card-tag{
    text-decoration: none;
    font-weight: bold;
}

.nav-size{
    margin: auto;
}

.card-img-top{
    height: 300px;
}
