    
                        <div class="col-lg-12 pb-3">
                        {% set image = page.media.images|first %}
                            {% if image %}
                            <div class="card-image">
                                <img class="card-img-top" src="{{ image.cropZoom(800,400).html|raw }} />
                            </div>
                            {% endif %}
                            {% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
                            <div class="small text-muted">{% include 'partials/blog/date.html.twig' %} {% if page.header.author %}// {{ page.header.author|e }}{% endif %}</div>
                            {% if page.summary != page.content %}
                                {{ page.summary|raw }}
                            {% else %}
                                {{ page.content|raw }}
                            {% endif %}
                        </div>

